/* @import "tailwindcss"; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles */

.sec {
  transition: transform 0.2s;
  z-index: -2; /* Parcel + Tailwind won't complain since it's plain CSS */
}

  .sec:hover {
    transform: scale(1.05); 
  }

  * {
    transition: transform 0.3s ease-out;  

  }
